*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #8D44AD;
    text-align: center;
}
main{
    text-align: center;
}
.card{
    border-radius: 5px 5px;
    background-color: #fff;
    display: inline-block;
    margin: 70px 30px 0 0;
    width: 350px;

    padding: 20px;
    text-align: center;
   
}
img{
    width: 150px;
    height: 150px;
    border: 3px solid #7d007b;
    border-radius: 50%;
    margin-top: 15px;
}
i{
    color: #7d007b;
}
h4{
    margin-top: 15px;
}
p{
    text-align: justify;
    font: 1.2em Arial,sans-serif bold;
    margin-top: 15px;
}
.buttons{
    margin-top: 15px;
    text-align: center;
}
#button1{
    margin: 5px ;
    background-color:#FFF;
    padding: 12px 30px;
    border: 1px solid #7d007b;
    border-radius: 5px;
    color:#7d007b;
}
#button2{
    margin: 5px;
    background: #7d007b;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    color: white;
}