*{
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
   
}
body{
    background-color: white;
    text-align: center;
  
    
    
}
.card1{
  display: inline-block;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin-top: 100px;
    height: 520px;
    border: 1px #d1d1d1 solid;
    
}
.card2{
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin-top: 100px;
    height: 520px;
    border: 1px #d1d1d1 solid;
    
}
.card3{
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin-top: 100px;
    height: 520px;
    border: 1px #d1d1d1 solid;
    
}
.card4{
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin-top: 100px;
    height: 520px;
    border: 1px #d1d1d1 solid;
    
}
img{
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    
}
p{
    margin: 5px;
    padding: 5px;
    text-align: justify;
    font:1.3em arial sans-serif;
}
.p1{
   
    padding: 5px;
    text-align: left;
    font:1.2em arial sans-serif; 
}
.up1{
    
    text-align: left;
    margin-left: 10px;
    width: 150px;

}
button{
    text-align: center;
    background: transparent;
    width: 20px;
    border-radius: 5px;
    border: 1px solid silver;
    height: 30px;
    margin:auto;
    
}
#sebet{
    margin: 10px 10px 0px 9px;
    text-align: left;
    
}
.sebet{
    font:1em Arial,Sans-serif;
    color: white;
    background: #f53b3b;
    margin: auto;
    text-align: center;
    width: 100px;
    height: 40px;
}
input{
    border:0px;
    width:30px;
    text-align: center;
    font:1em arial,sans-serif;
}